nav{
    height:100px;
    width: 100%;
    
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   background-color: aqua;
}


li:hover{
    background-color: chartreuse;
}
 img{
    height: 100px;
    width: 100px;
    display: inline;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20%;
}
.price:hover{
    background-color: darkmagenta;
}
footer{
    background-color: aliceblue;
}
header{
    background-color: lightcoral;
    height: 50px;
    width: 100%;
    font-size: 20px;
    bottom: 5px;

}
